<%= form_for(@endroit) do |f| %>
  <% if @endroit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@endroit.errors.count, "error") %> prohibited this endroit from being saved:</h2>

      <ul>
      <% @endroit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br>
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :adresse %><br>
    <%= f.text_field :adresse %>
  </div>
  <div class="field">
    <%= f.label :numero_telephone %><br>
    <%= f.text_field :numero_telephone %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br>
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
