<h1>Listing endroits</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Adresse</th>
      <th>Numero telephone</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @endroits.each do |endroit| %>
      <tr>
        <td><%= endroit.nom %></td>
        <td><%= endroit.adresse %></td>
        <td><%= endroit.numero_telephone %></td>
        <td><%= endroit.created_at %></td>
        <td><%= endroit.updated_at %></td>
        <td><%= link_to 'Show', endroit %></td>
        <td><%= link_to 'Edit', edit_endroit_path(endroit) %></td>
        <td><%= link_to 'Destroy', endroit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Endroit', new_endroit_path %>
