<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @endroit.nom %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @endroit.adresse %>
</p>

<p>
  <strong>Numero telephone:</strong>
  <%= @endroit.numero_telephone %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @endroit.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @endroit.updated_at %>
</p>

<%= link_to 'Edit', edit_endroit_path(@endroit) %> |
<%= link_to 'Back', endroits_path %>
