<%= form_for @disponibilite, :html => { :class => "form-horizontal disponibilite" } do |f| %>

  <% if @disponibilite.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@disponibilite.errors.count, "erreur empêche", "erreurs empêchent") %> <%= t("disponibilite.erreurs.save_disponibilite") %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @disponibilite.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :user_absent_id, "Utilisateur absent", :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.select(:user_absent_id, @user_absent.collect {|p| [ p.prenom + ' ' + p.nom, p.id ] },{include_blank: ''}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:user_absent_id) %>
  </div>
  <div class="form-group">
    <%= f.label :user_remplacant_id, "Utilisateur remplaçant", :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :user_remplacant_id, :value => get_user_remplacant_nom_format(@disponibilite), :class => 'form-control', :disabled => 'disabled' %>
    </div>
    <%=f.error_span(:user_remplacant_id) %>
  </div>
  <div class="form-group">
    <%= f.label :ecole_id, "École", :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.select(:ecole_id, Ecole.all.collect {|p| [ p.nom, p.id ] }, {include_blank: ''}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:ecole_id) %>
  </div>
  <div class="form-group">
    <%= f.label :niveau_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.select(:niveau_id, UsersHelper::LISTE_NIVEAU, {include_blank: ''}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:niveau_id) %>
  </div>
  <div class="form-group">
    <%= f.label :date_heure, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <div class="controls">
        <div class="input-prepend input-group">
          <span class="add-on input-group-addon"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
          <input type="text" style="width: 400px" name="daterangepicker" id="date_heure" class="form-control datepicker" value="<%= get_date_heure_format %>" class="span4" readonly="readonly"/>
        </div>
      </div>
    </div>
    <%=f.error_span(:date_heure_debut) %>
  </div>

  <%= f.hidden_field :date_heure_debut, :value => get_date_heure_debut_format %>
  <%= f.hidden_field :date_heure_fin, :value => get_date_heure_fin_format %>

  <div class="form-group">
    <%= f.label :surveillance, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :surveillance %>
    </div>
    <%=f.error_span(:surveillance) %>
  </div>
  <div class="form-group">
    <%= f.label :specialite, "Spécialité", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :specialite %>
    </div>
    <%=f.error_span(:specialite) %>
  </div>
  <div class="form-group">
    <%= f.label :notes, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_area :notes, :class => 'form-control' %>
    </div>
    <%=f.error_span(:notes) %>
  </div>
  <div class="form-group">
    <%= f.label :statut, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.text_field :statut, :class => 'form-control', :value => get_description_statut(@disponibilite.statut), :disabled => 'disabled' %>
    </div>
    <%=f.error_span(:statut) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                disponibilites_path, :class => 'btn btn-default' %>
    </div>
  </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                format: 'YYYY/MM/DD h:mm A',
                startDate: $('#disponibilite_date_heure_debut').val(),
                endDate: $('#disponibilite_date_heure_fin').val()
            }, function (start, end, label) {
                $('#disponibilite_date_heure_debut').val(start.format('YYYY/MM/DD h:mm A'));
                $('#disponibilite_date_heure_fin').val(end.format('YYYY/MM/DD h:mm A'));
            });
        });
    </script>

<% end %>