<%= form_for(@disponibilite) do |f| %>
  <% if @disponibilite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disponibilite.errors.count, "error") %> prohibited this disponibilite from being saved:</h2>

      <ul>
      <% @disponibilite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :utilisateur_absent_id %><br>
    <%= f.select(:utilisateur_absent_id, @utilisateur_absent.collect {|p| [ p.prenom + ' ' + p.nom, p.id ] },{include_blank: ''}) %>
  </div>
  <div class="field">
    <%= f.label :endroit_id %><br>
    <%= f.select(:endroit_id,[['École 1','1'],['École 2','2'],['École 3','3'],['École 4','4']],{include_blank: ''}) %>
  </div>
  <div class="field">
    <%= f.label :niveau_id %><br>
    <%= f.select(:niveau_id,[['Maternelle','1'],['1ère année','2'],['2e année','3'],['3e année','4'],['4e année','5'],['5e année','6'],['6e année','7']],{include_blank: ''}) %>
  </div>
  <div class="field">
    <%= f.label :date_heure_debut %><br>
    <%= f.datetime_select :date_heure_debut %>
  </div>
  <div class="field">
    <%= f.label :date_heure_fin %><br>
    <%= f.datetime_select :date_heure_fin %>
  </div>
  <div class="field">
    <%= f.label :surveillance %><br>
    <%= f.check_box :surveillance %>
  </div>
  <div class="field">
    <%= f.label :specialite %><br>
    <%= f.check_box :specialite %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :statut %><br>
    <%= f.select(:statut,[['Disponible','disponible'],['Attribué','attribue']]) %>
  </div>
  <div class="actions">

    <%= f.submit %>
  </div>
<% end %>
