<%- model_class = Disponibilite -%>
<h1>Liste des disponibilités</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Utilisateur absent</th>
      <th>Utilisateur remplaçant</th>
      <th>École</th>
      <th><%= model_class.human_attribute_name(:niveau_id) %></th>
      <th>Date heure début</th>
      <th><%= model_class.human_attribute_name(:date_heure_fin) %></th>
      <th><%= model_class.human_attribute_name(:surveillance) %></th>
      <th>Spécialité</th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:statut) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @disponibilites.each do |disponibilite| %>
      <tr>
        <td><%= link_to disponibilite.id, disponibilite_path(disponibilite) %></td>
        <td><%= get_user_absent_nom_format(disponibilite) %></td>
        <td><%= get_user_remplacant_nom_format(disponibilite) %></td>
        <td><%= disponibilite.ecole.nom %></td>
        <td><%= get_description_niveau(disponibilite.niveau_id) %></td>
        <td><%= disponibilite.date_heure_debut.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= disponibilite.date_heure_fin.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= disponibilite.surveillance %></td>
        <td><%= disponibilite.specialite %></td>
        <td><%= disponibilite.notes %></td>
        <td><%= get_description_statut(disponibilite.statut) %></td>
        <td>
          <% if can? :accepter_disponibilite, disponibilite and disponibilite.user_remplacant_id == current_user.id and disponibilite.statut == "waiting" %>
            <%= link_to "Accepter", disponibilite_path(disponibilite), :class => 'btn btn-default btn-xs' %>
            <%= link_to "Refuser", disponibilite_path(disponibilite), :class => 'btn btn-default btn-xs' %>
          <% elsif can? :manage, disponibilite %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_disponibilite_path(disponibilite), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        disponibilite_path(disponibilite),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Êtes-vous certain ?')) },
                        :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can? :manage, Disponibilite %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_disponibilite_path,
              :class => 'btn btn-primary' %>
<% end %>

