<%= form_for @user, :html => { :class => "form-horizontal utilisateur" } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "erreur empêche", "erreurs empêchent") %> <%= t("user.erreurs.save_user") %></h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nom, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nom, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nom) %>
  </div>
  <div class="form-group">
    <%= f.label :prenom, "Prénom", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :prenom, :class => 'form-control' %>
    </div>
    <%=f.error_span(:prenom) %>
  </div>
  <div class="form-group">
    <%= f.label :email, "Courriel", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.email_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :titre, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:titre,UsersHelper::LISTE_POSTE,{include_blank: ''}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:titre) %>
  </div>
  <div class="form-group">
    <%= f.label :numero_telephone, "Numéro de téléphone", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.telephone_field :numero_telephone, :class => 'form-control', autocomplete: "off" %>
    </div>
    <%=f.error_span(:numero_telephone) %>
  </div>
  <div class="form-group">
    <%= f.label :numero_cellulaire, "Numéro de cellulaire", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.telephone_field :numero_cellulaire, :class => 'form-control', autocomplete: "off" %>
    </div>
    <%=f.error_span(:numero_cellulaire) %>
  </div>
  <div class="form-group">
    <%= f.label :message_texte_permis, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :message_texte_permis %>
    </div>
    <%=f.error_span(:message_texte_permis) %>
  </div>
  <div class="form-group">
    <%= f.label :niveau, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:niveau,UsersHelper::LISTE_NIVEAU,{include_blank: ''}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:niveau) %>
  </div>
  <% if can? :update, current_user or current_user.id.equal?(@user.id) %>
     <div class="form-group">
        <%= f.label :password, "Mot de passe", :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%=  f.password_field :password, autocomplete: "off" %>
        </div>
        <%= f.error_span(:password) %>
      </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Confirmer mot de passe", :class => 'control-label col-lg-2' %><br />
      <div class="col-lg-10">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <%= f.error_span(:password_confirmation) %>
    </div>
  <% end %>
  <% if can? :update, Role %>
      <div class="form-group">
        <%= f.label :roles, "Rôle", :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.select(:role_ids, Role.all.collect {|p| [ p.nom, p.id ] }) %>
        </div>
        <%=f.error_span(:roles) %>
      </div>
  <% end %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    users_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
