<div class='row'>
  <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
    <div class='box bordered-box blue-border' style='margin-bottom:0;'>
      <div class='box-header orange-background'>
        <div class='title'>Absences à venir</div>
        <div class='actions'>
          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i></a>
        </div>
      </div>
      <div class='box-content'>
        <div class='responsive-table'>
          <div class='scrollable-area'>
            <table class='table' style='margin-bottom:0;'>
              <thead>
              <tr>
                <th>
                  Date
                </th>
                <th>
                  Professeur absent
                </th>
                <th>
                  Détails
                </th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% unless @disponibilites_avenir.nil? then
                   @disponibilites_avenir.each do |d| %>
                      <tr>
                        <td><%= d.date_heure_debut.strftime("%Y/%m/%d") %></td>
                        <td><%= get_user_absent_nom_format(d) %></td>
                        <td><%= d.ecole.nom %><br/><%= get_description_niveau(d.niveau_id) %></td>
                        <td>
                          <div class='text-right'>
                            <%= link_to "<i class='icon-edit'></i>".html_safe, edit_disponibilite_path(d), class: "btn btn-#{disponibilite_statut_css(d.statut)} btn-xs" %>
                          </div>
                        </td>
                      </tr>
                  <% end %>
              <% end %>
              </tbody>
            </table>
            <% if current_user.role? :admin or current_user.role? :super_admin or current_user.role? :permanent then %>
              <hr class="hr-normal">
              <div class="text-center">
                <%= link_to "Ajouter nouvelle absence", new_disponibilite_path, class: "btn btn-primary btn-block" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-sm-6 col-md-7 col-lg-8'>
    <div class='box'>
      <div class='box-header'>
        <div class='title'><br/></div>
      </div>
      <div class='box-content'>
        <div class='full-calendar-demo'></div>
      </div>
    </div>
  </div>
</div>

<script>
    (function() {
        var cal, calendarDate, d, m, y;

        calendarDate = new Date();

        d = calendarDate.getDate();

        m = calendarDate.getMonth();

        y = calendarDate.getFullYear();

        cal = $(".full-calendar-demo").fullCalendar({
            header: {
                center: "title",
                left: "basicDay,basicWeek,month",
                right: "prev,today,next"
            },
            buttonText: {
                prev: "<span class=\"icon-chevron-left\"></span>",
                next: "<span class=\"icon-chevron-right\"></span>",
                today: "Aujourd'hui",
                basicDay: "Jour",
                basicWeek: "Semaine",
                month: "Mois"
            },
            droppable: false,
            editable: false,
            selectable: true,
            eventClick: function(calEvent, jsEvent, view) {
              return bootbox.dialog({
                title: calEvent.title_msg,
                message: "École: " + calEvent.nom_ecole + "<br />" + "Niveau: " + calEvent.nom_niveau + "<br />" + "Professeur absent: " + calEvent.nom_user_absent,
                buttons: {
                  "acceder": {
                    label: "<i class='icon-edit'></i> Modifier",
                    className: "pull-right",
                    callback: function() {
                      window.location.href = 'disponibilites/' + calEvent.id + '/edit';
                    }
                  }
                }
              });
            },
//            viewRender: function( view, element ){
//                events: '/disponibilites/for_calendar'
//            },
            /*eventClick: function(calEvent, jsEvent, view) {
                return bootbox.dialog({
                    message: $("<form class='form'><label>Disponibilité</label></form><input id='new-event-title' class='form-control' type='text' value='" + calEvent.nom_user_absent + "' /><br />"),
                    buttons: {
                      "acceder": {
                        label: "<i class='icon-trash'></i> Modifier",
                        className: "pull-left",
                        callback: function() {
                          calEvent.url = 'disponibilites/' + calEvent.id;
                          return cal.fullCalendar( 'renderEvent', calEvent );
                        }
                      },
                        success: {
                            label: "<i class='icon-save'></i> Save",
                            className: "btn-success",
                            callback: function() {
                                calEvent.title = $("#new-event-title").val();
                                return cal.fullCalendar('updateEvent', calEvent);
                            }
                        }
                    }
                });
            },*/
            eventSources : [
                {url: '/disponibilites/for_calendar'}
            ]
        });

    }).call(this);
</script>