<%= form_for(@remplacement) do |f| %>
  <% if @remplacement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@remplacement.errors.count, "error") %> prohibited this remplacement from being saved:</h2>

      <ul>
      <% @remplacement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_utilisateur %><br />
    <%= f.select(:id_utilisateur, Utilisateur.find_all_by_titre('permanent').collect {|p| [ p.prenom + ' ' + p.nom, p.id ] },{include_blank: ''}) %>
  </div>
  <div class="field">
    <%= f.label :id_utilisateur_remplacant %><br />
    <%= f.select(:id_utilisateur_remplacant, Utilisateur.find_all_by_titre('remplacant').collect {|p| [ p.prenom + ' ' + p.nom, p.id ] },{include_blank: ''}) %>
  </div>
  <div class="field">
    <%= f.label :statut %><br />
    <%= f.select(:statut,[['Professeur permanent','permanent'],['Professeur remplaçant','remplacant']],{include_blank: ''}) %>
    <%= f.text_field :statut %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
