<h1>Listing remplacements</h1>

<table>
  <tr>
    <th>Id utilisateur</th>
    <th>Id event calendar</th>
    <th>Id utilisateur remplacant</th>
    <th>Statut</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @remplacements.each do |remplacement| %>
  <tr>
    <td><%= remplacement.id_utilisateur %></td>
    <td><%= remplacement.id_event_calendar %></td>
    <td><%= remplacement.id_utilisateur_remplacant %></td>
    <td><%= remplacement.statut %></td>
    <td><%= link_to 'Show', remplacement %></td>
    <td><%= link_to 'Edit', edit_remplacement_path(remplacement) %></td>
    <td><%= link_to 'Destroy', remplacement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New remplacements', new_remplacement_path %>
