<%= form_for(@niveau) do |f| %>
  <% if @niveau.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@niveau.errors.count, "error") %> prohibited this niveau from being saved:</h2>

      <ul>
      <% @niveau.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br>
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br>
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
