<h1>Listing niveaus</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Code</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @niveaus.each do |niveau| %>
      <tr>
        <td><%= niveau.nom %></td>
        <td><%= niveau.code %></td>
        <td><%= niveau.created_at %></td>
        <td><%= niveau.updated_at %></td>
        <td><%= link_to 'Show', niveau %></td>
        <td><%= link_to 'Edit', edit_niveau_path(niveau) %></td>
        <td><%= link_to 'Destroy', niveau, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Niveau', new_niveau_path %>
